fastapi==0.116.1
uvicorn[standard]==0.35.0
langchain==0.3.27
langchain-community==0.3.27
langchain-core==0.3.74
langchain-chroma==0.2.5
langchain-text-splitters==0.3.9
langchain-groq==0.3.7
langchain-google-genai==2.1.9
chromadb==1.0.17
python-dotenv==1.1.1
python-multipart==0.0.20
pypdf==6.0.0
docx2txt==0.9
pydantic==2.11.7
google-genai
dotenv==0.9.9
dataclasses-json==0.6.7
jinja2==3.1.6




